docs/n8n-workflows/accesos-incidencias-guardar.json
{
  "name": "accesos-incidencias/guardar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "accesos-incidencias/guardar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "accesos-incidencias-guardar"
    },
    {
      "parameters": {
        "jsCode": "// Validar auth + payload en un solo nodo.\n// Auth: header X-FTS-Session-Token (base64(JSON(session)))\n// El frontend de config-master-master lo arma así:\n//   btoa(unescape(encodeURIComponent(JSON.stringify({userId, username, role, loginTime, ts}))))\n\nconst req = $input.first().json;\nconst headers = (req && req.headers) || {};\nconst token = headers['x-fts-session-token'] || headers['X-FTS-Session-Token'] || '';\n\nif (!token){\n  return [{ json: {\n    _error: true,\n    codigo: 'AUTH_MISSING',\n    mensaje: 'Falta el header X-FTS-Session-Token'\n  }}];\n}\n\nlet session = null;\ntry {\n  const decoded = Buffer.from(token, 'base64').toString('utf8');\n  session = JSON.parse(decoded);\n} catch(e){\n  return [{ json: {\n    _error: true,\n    codigo: 'AUTH_BAD_TOKEN',\n    mensaje: 'Token inválido o mal formado'\n  }}];\n}\n\nif (!session || session.role !== 'master'){\n  return [{ json: {\n    _error: true,\n    codigo: 'AUTH_FAILED',\n    mensaje: 'Solo master puede modificar accesos'\n  }}];\n}\n\n// Validar payload\nconst body = req.body || {};\nconst accesos = body.accesos || null;\n\nif (!accesos || typeof accesos !== 'object'){\n  return [{ json: {\n    _error: true,\n    codigo: 'INVALID_PAYLOAD',\n    mensaje: 'Falta el objeto \"accesos\"'\n  }}];\n}\n\nconst sups = accesos.supervisores_por_depto;\nif (!sups || typeof sups !== 'object' || Array.isArray(sups)){\n  return [{ json: {\n    _error: true,\n    codigo: 'INVALID_PAYLOAD',\n    mensaje: '\"supervisores_por_depto\" debe ser un objeto'\n  }}];\n}\n\nconst rh = accesos.rh;\nif (!Array.isArray(rh)){\n  return [{ json: {\n    _error: true,\n    codigo: 'INVALID_PAYLOAD',\n    mensaje: '\"rh\" debe ser un array de empleado_ids'\n  }}];\n}\n\n// Validar contenido de sups: cada key debe ser stringified int, cada value debe ser array de ints\nfor (const deptId of Object.keys(sups)){\n  if (!/^[0-9]+$/.test(String(deptId))){\n    return [{ json: {\n      _error: true,\n      codigo: 'INVALID_PAYLOAD',\n      mensaje: 'Departamento inválido en supervisores_por_depto: ' + deptId\n    }}];\n  }\n  if (!Array.isArray(sups[deptId])){\n    return [{ json: {\n      _error: true,\n      codigo: 'INVALID_PAYLOAD',\n      mensaje: 'Valor de depto ' + deptId + ' debe ser array'\n    }}];\n  }\n  for (const empId of sups[deptId]){\n    if (!Number.isInteger(empId)){\n      return [{ json: {\n        _error: true,\n        codigo: 'INVALID_PAYLOAD',\n        mensaje: 'empleado_id inválido en depto ' + deptId + ': ' + empId\n      }}];\n    }\n  }\n}\n\nfor (const empId of rh){\n  if (!Number.isInteger(empId)){\n    return [{ json: {\n      _error: true,\n      codigo: 'INVALID_PAYLOAD',\n      mensaje: 'empleado_id inválido en rh: ' + empId\n    }}];\n  }\n}\n\n// Normalizar + construir objeto final\nconst nuevo = {\n  version: 1,\n  supervisores_por_depto: sups,\n  rh: rh,\n  updated_at: new Date().toISOString(),\n  updated_by: session.username || ('userId:' + session.userId)\n};\n\nreturn [{ json: { nuevo_accesos: nuevo, session_username: session.username } }];"
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000002",
      "name": "Code - Validar auth + payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json._error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000003",
      "name": "IF - Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, codigo: $json.codigo, mensaje: $json.mensaje } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000004",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 180]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/yinyo1/fts-suite/contents/shared/accesos-panel-incidencias.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000005",
      "name": "GET accesos-panel-incidencias.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 420],
      "credentials": {
        "githubApi": {
          "id": "i6g6Y7fNeZJW0GA3",
          "name": "GitHub FTS Suite"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Reemplaza el archivo completo con el nuevo contenido validado.\n// Preserva el SHA si existía (para update), o lo omite si era primer write (404 tolerado).\nconst ghResp = $input.first().json;\nconst prev   = $('Code - Validar auth + payload').item.json;\nconst nuevo  = prev.nuevo_accesos;\n\nlet sha = null;\nif (ghResp && ghResp.sha){\n  sha = ghResp.sha;\n}\n\nconst nuevoStr = JSON.stringify(nuevo, null, 2);\nconst nuevoB64 = Buffer.from(nuevoStr, 'utf8').toString('base64');\n\nreturn [{\n  json: {\n    sha: sha || '',\n    content: nuevoB64,\n    message: 'accesos-panel-incidencias: actualizado por ' + (prev.session_username || 'master'),\n    nuevo_accesos: nuevo\n  }\n}];"
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000006",
      "name": "Code - Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 420]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/yinyo1/fts-suite/contents/shared/accesos-panel-incidencias.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.message }}\",\n  \"content\": \"{{ $json.content }}\",\n  \"sha\": \"{{ $json.sha }}\",\n  \"branch\": \"main\"\n}",
        "options": {}
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000007",
      "name": "PUT accesos-panel-incidencias.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 420],
      "credentials": {
        "githubApi": {
          "id": "i6g6Y7fNeZJW0GA3",
          "name": "GitHub FTS Suite"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Code - Merge').item.json;\nreturn [{\n  json: {\n    success: true,\n    accesos: prev.nuevo_accesos,\n    mensaje: 'Accesos actualizados'\n  }\n}];"
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000008",
      "name": "Code - Respuesta OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000009",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1740, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [ { "node": "Code - Validar auth + payload", "type": "main", "index": 0 } ]
      ]
    },
    "Code - Validar auth + payload": {
      "main": [
        [ { "node": "IF - Error?", "type": "main", "index": 0 } ]
      ]
    },
    "IF - Error?": {
      "main": [
        [ { "node": "Respond - Error", "type": "main", "index": 0 } ],
        [ { "node": "GET accesos-panel-incidencias.json", "type": "main", "index": 0 } ]
      ]
    },
    "GET accesos-panel-incidencias.json": {
      "main": [
        [ { "node": "Code - Merge", "type": "main", "index": 0 } ]
      ]
    },
    "Code - Merge": {
      "main": [
        [ { "node": "PUT accesos-panel-incidencias.json", "type": "main", "index": 0 } ]
      ]
    },
    "PUT accesos-panel-incidencias.json": {
      "main": [
        [ { "node": "Code - Respuesta OK", "type": "main", "index": 0 } ]
      ]
    },
    "Code - Respuesta OK": {
      "main": [
        [ { "node": "Respond to Webhook", "type": "main", "index": 0 } ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
