docs/n8n-workflows/accesos-incidencias-guardar.json
{
  "name": "accesos-incidencias/guardar (v2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "accesos-incidencias/guardar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "accesos-incidencias-guardar"
    },
    {
      "parameters": {
        "jsCode": "// Auth: header X-FTS-Session-Token (base64(JSON(session))) — solo role=master puede modificar.\nconst req = $input.first().json;\nconst headers = (req && req.headers) || {};\nconst token = headers['x-fts-session-token'] || headers['X-FTS-Session-Token'] || '';\n\nif (!token){\n  return [{ json: { _error: true, codigo: 'AUTH_MISSING', mensaje: 'Falta el header X-FTS-Session-Token' } }];\n}\n\nlet session = null;\ntry {\n  const decoded = Buffer.from(token, 'base64').toString('utf8');\n  session = JSON.parse(decoded);\n} catch(e){\n  return [{ json: { _error: true, codigo: 'AUTH_BAD_TOKEN', mensaje: 'Token inválido o mal formado' } }];\n}\n\nif (!session || session.role !== 'master'){\n  return [{ json: { _error: true, codigo: 'AUTH_FAILED', mensaje: 'Solo master puede modificar accesos' } }];\n}\n\nreturn [{ json: { session: session, body: req.body || {} } }];"
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000002",
      "name": "Code - Validar auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "// Valida el shape v2 del payload: body.accesos es un array de entradas,\n// cada una con empleado_id, empleado_nombre, roles[] no vacío, y si incluye\n// 'supervisor' debe traer department_id.\nconst prev = $input.first().json;\nif (prev._error){\n  // Propaga error de auth\n  return [{ json: prev }];\n}\nconst body = prev.body || {};\nconst session = prev.session;\n\nif (!Array.isArray(body.accesos)){\n  return [{ json: { _error: true, codigo: 'INVALID_PAYLOAD', mensaje: 'accesos debe ser un array' } }];\n}\n\nconst rolesValidos = ['supervisor', 'rh', 'direccion'];\n\nfor (const a of body.accesos){\n  if (!a || typeof a !== 'object'){\n    return [{ json: { _error: true, codigo: 'INVALID_ACCESO', mensaje: 'Entrada no es objeto' } }];\n  }\n  if (!a.empleado_id || !a.empleado_nombre){\n    return [{ json: { _error: true, codigo: 'INVALID_ACCESO', mensaje: 'Entrada sin empleado_id/nombre: ' + JSON.stringify(a) } }];\n  }\n  if (!Array.isArray(a.roles) || a.roles.length === 0){\n    return [{ json: { _error: true, codigo: 'INVALID_ACCESO', mensaje: 'Empleado ' + a.empleado_nombre + ' sin roles asignados' } }];\n  }\n  for (const r of a.roles){\n    if (rolesValidos.indexOf(r) < 0){\n      return [{ json: { _error: true, codigo: 'ROL_INVALIDO', mensaje: 'Rol no permitido: ' + r } }];\n    }\n  }\n  if (a.roles.indexOf('supervisor') >= 0 && !a.department_id){\n    return [{ json: { _error: true, codigo: 'SUPERVISOR_SIN_DEPTO', mensaje: 'Supervisor ' + a.empleado_nombre + ' requiere department_id' } }];\n  }\n}\n\nreturn [{ json: { accesos: body.accesos, session: session } }];"
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000010",
      "name": "Code - Validar payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json._error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000003",
      "name": "IF - Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [860, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, codigo: $json.codigo, mensaje: $json.mensaje } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000004",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 180]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/yinyo1/fts-suite/contents/shared/accesos-panel-incidencias.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000005",
      "name": "GET accesos-panel-incidencias.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 420],
      "credentials": {
        "githubApi": {
          "id": "i6g6Y7fNeZJW0GA3",
          "name": "GitHub FTS Suite"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Enriquece cada entrada con fecha_asignacion + asignado_por si no los trae,\n// y escribe el archivo completo con shape v2.\nconst ghResp = $input.first().json;\nconst prev = $('Code - Validar payload').item.json;\nconst session = prev.session;\n\nlet sha = null;\nif (ghResp && ghResp.sha){\n  sha = ghResp.sha;\n}\n\nconst now = new Date().toISOString();\nconst username = (session && session.username) || ('userId:' + (session && session.userId));\n\nconst accesosEnriquecidos = prev.accesos.map(function(a){\n  return Object.assign({}, a, {\n    fecha_asignacion: a.fecha_asignacion || now,\n    asignado_por:     a.asignado_por || username\n  });\n});\n\nconst archivo = {\n  version: 2,\n  accesos: accesosEnriquecidos,\n  updated_at: now,\n  updated_by: username\n};\n\nconst nuevoStr = JSON.stringify(archivo, null, 2);\nconst nuevoB64 = Buffer.from(nuevoStr, 'utf8').toString('base64');\n\nreturn [{\n  json: {\n    sha:     sha || '',\n    content: nuevoB64,\n    message: 'accesos-incidencias: ' + accesosEnriquecidos.length + ' empleado(s) por ' + username,\n    total:   accesosEnriquecidos.length,\n    accesos: accesosEnriquecidos\n  }\n}];"
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000006",
      "name": "Code - Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 420]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/yinyo1/fts-suite/contents/shared/accesos-panel-incidencias.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.message }}\",\n  \"content\": \"{{ $json.content }}\",\n  \"sha\": \"{{ $json.sha }}\",\n  \"branch\": \"main\"\n}",
        "options": {}
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000007",
      "name": "PUT accesos-panel-incidencias.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 420],
      "credentials": {
        "githubApi": {
          "id": "i6g6Y7fNeZJW0GA3",
          "name": "GitHub FTS Suite"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Code - Merge').item.json;\nreturn [{\n  json: {\n    success: true,\n    total:   prev.total,\n    accesos: prev.accesos,\n    mensaje: 'Accesos actualizados correctamente'\n  }\n}];"
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000008",
      "name": "Code - Respuesta OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a9e1f0a0-0000-4000-8000-200000000009",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1960, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [ [ { "node": "Code - Validar auth", "type": "main", "index": 0 } ] ]
    },
    "Code - Validar auth": {
      "main": [ [ { "node": "Code - Validar payload", "type": "main", "index": 0 } ] ]
    },
    "Code - Validar payload": {
      "main": [ [ { "node": "IF - Error?", "type": "main", "index": 0 } ] ]
    },
    "IF - Error?": {
      "main": [
        [ { "node": "Respond - Error", "type": "main", "index": 0 } ],
        [ { "node": "GET accesos-panel-incidencias.json", "type": "main", "index": 0 } ]
      ]
    },
    "GET accesos-panel-incidencias.json": {
      "main": [ [ { "node": "Code - Merge", "type": "main", "index": 0 } ] ]
    },
    "Code - Merge": {
      "main": [ [ { "node": "PUT accesos-panel-incidencias.json", "type": "main", "index": 0 } ] ]
    },
    "PUT accesos-panel-incidencias.json": {
      "main": [ [ { "node": "Code - Respuesta OK", "type": "main", "index": 0 } ] ]
    },
    "Code - Respuesta OK": {
      "main": [ [ { "node": "Respond to Webhook", "type": "main", "index": 0 } ] ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
